.character-card{
    width: 200px;
    height: 100%;
    margin: 1%;
    border: 1px solid #bb1010;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0 rgb(122, 190, 54);
}

.character-card-image{
    width: 90%;
    height: auto;
    border-radius: 50%;
}